@media screen and (max-width: 450px) {

	.login h1 {
	    font-size: 8vw;
	    margin-top: 12vh;
	}

	.login form{
		margin-top: 20vw;
	}

	.login p {
    	font-size: 15px;
	}

	.login input{
		width: 25%;
		height: 15px;
		border: 0.5px solid;
	}

	.skip h2{
		font-size: 15px;
	}

	.skip p{
		font-size: 12px;
	}

	.version {
    	font-size: 8px;
	}

	.gameWrapper h1{
		font-family: 'Rationale', sans-serif;
		color: cadetblue;
		font-size: 9vw;
		font-weight: bold;
	}

	.game{
		text-align: center;
	}

	canvas{
		border: 1px solid black;
		display: inline;
	}

	.gameWrapper h2{
		font-family: 'Rationale', sans-serif;
		width: 100%;
		font-size: 23px;
	}

	.gameWrapper span{
		color: cadetblue;
	}


	#info2{
		display: none;
	}

	.gamelvl{
		display: block;
    	width: 80%;
    	margin-left: 10%;
    	margin-top: 5vh;
    	z-index: 99;
    	height: 65vh;
    	position: absolute;
    	top: 0;
    	background: rgba(241, 241, 241, 0.92);
    	border-radius: 15px;
	}

	.gamelvl p{
		font-family: 'Rationale', sans-serif;
	    text-align: center;
	    font-weight: bold;
	    font-size: 6vw;
	    margin-top: 12vh;
	}

	.gamelvl button{
	    width: 50%;
	    margin: 5% 0 0 25%;
	    float: left;
	    background: rgba(4, 4, 4, 0.49);
	    height: 8vh;
	    font-size: 3vw;
	    font-weight: bold;
	    color: white;
	}

	.mobileControls{
		display: block;
	}

	.mobileControls button{
		width: 20%;
	    background: #d6d3d3;
	    border-style: none;
	    color: white;
	    height: 9vh;
	}

	.up{
    	margin: 3vh 40% 1% 40%;
	}

	.left{
		margin-left: 18.9%;
	}

	.layer{
		width: 100%;
    	background: rgba(0, 0, 0, 0.53);
    	height: 100vh;
    	position: absolute;
    	top: 0;
	}



		.rank button{
			cursor: pointer;
			background:aliceblue;
			margin-bottom: 5vh;
		}

		.rank table {
			margin-left: -10%;
		}

		h3{
			color: darkred;
			font-size: 6vw;
		}

		th, td {
		    font-family: arial;
		    padding: 3vw;
    		font-size: 3vh;
		}

		td:nth-child(even){
			font-weight: bold;
		}

		tr:nth-child(2){
		    color: white;
		    background: cadetblue;
		}
		tr:nth-child(3){
		    color: white;
		    background: rgba(114, 157, 158, 0.67);
		}
		tr:nth-child(4){
		    color: white;
		    background: rgba(161, 172, 173, 0.59);
		}
		tr{
			color: rgba(0, 0, 0, 0.52);
		}

		th{
			font-family: 'Rationale', sans-serif;
			background-color: white;
			color: black;
    		text-align: left;
    	    padding: 3vw;
    		font-size: 3vh;
		}

		.special{
			background-color: white;
			color: black;
		    padding: 3vw;
		    font-size: 3vh;
		}

		.messageLogin{
	    	font-size: 4vw;
			width: 100%;
			text-align: center;
			font-family: 'Rationale', sans-serif;
			background: #505050;
	    	color: white;
	        position: fixed;
    		bottom: 0;
		}

		.messageLogin a{
			color: #00ccff;
			font-size: 14px;
		}

		.messageLink{
    		font-size: 4vw;
			color: #00ccff;
		}

	/* CREATEACC.PHP */


		.accountWrapper p{
			font-family: arial;
			margin: 1%;
		}

		.accountWrapper  form{
			margin-top: 15vh;
		}
		
		.accountWrapper h1{
			font-family: arial;
    		color: cadetblue;
    		font-size: 40px;
		}
		
		.messageAccount{
		    background: cadetblue;
		    color: aliceblue;
		    padding: 0.3%;
		    height: 15vh;
		    margin-top: 1%;
		    text-align: center;
		    position: fixed;
		    width: 100vw;
		    bottom: 0;
		}

		.messageAccount a{
			color: #304f56;
			font-size: 17px;
    		font-weight: bold;
		}

		.messageAccount h4{
			margin-top: 5vh;
		}


		.messageAccount a:hover{
			color: lightblue;
			cursor: pointer;
		}
		
		.accountWrapper button{
		    cursor: pointer;
		    margin-bottom: 1%;
		    padding: 0.5%;
		    background: #e2e2e2;
		    border: none;
		}

		.accountWrapper label{
			color: red;
		}

		.version2{
			font-size: 10px;
		    position: fixed;
		    bottom: 0;
		    color: white;
		}

}

@media screen and (min-width: 450px) and (max-width:1024px) {

	.login h1 {
	    font-size: 8vw;
	    margin-top: 5vh;
	}

	.login form{
		margin-top: 5vh;
	}

	.login p {
    	font-size: 15px;
	}

	.login input{
		width: 25%;
		height: 15px;
		border: 0.5px solid;

	}

	.skip h2{
		font-size: 15px;
	}

	.skip p{
		font-size: 12px;
	}

	.version {
    	font-size: 8px;
	}

	.gameWrapper h1{
		font-family: 'Rationale', sans-serif;
		color: cadetblue;
		font-size: 9vw;
		font-weight: bold;
	}

	.game{
		text-align: center;
	}

	canvas{
		border: 1px solid black;
		display: inline;
	}

	.gameWrapper h2{
		font-family: 'Rationale', sans-serif;
		width: 100%;
		font-size: 23px;
	}

	.gameWrapper span{
		color: cadetblue;
	}


	#info2{
		display: none;
	}

	.gamelvl{
		display: block;
    	width: 80%;
    	margin-left: 10%;
    	margin-top: 5vh;
    	z-index: 99;
    	height: 65vh;
    	position: absolute;
    	top: 0;
    	background: rgba(241, 241, 241, 0.92);
    	border-radius: 15px;
	}

	.gamelvl p{
		font-family: 'Rationale', sans-serif;
	    text-align: center;
	    font-weight: bold;
	    font-size: 6vw;
	    margin-top: 12vh;
	}

	.gamelvl button{
	    width: 50%;
	    margin: 5% 0 0 25%;
	    float: left;
	    background: rgba(4, 4, 4, 0.49);
	    height: 8vh;
	    font-size: 3vw;
	    font-weight: bold;
	    color: white;
	}

	.mobileControls{
		display: block;
	}

	.mobileControls button{
		width: 20%;
	    background: #d6d3d3;
	    border-style: none;
	    color: white;
	    height: 100px;
	}

	.up{
    	margin: 3vh 40% 0.5% 40%;
	}

	.left{
		margin-left: 19.6%;
	}

	.layer{
		width: 100%;
    	background: rgba(0, 0, 0, 0.53);
    	height: 100vh;
    	position: absolute;
    	top: 0;
	}



		.rank button{
			cursor: pointer;
			background:aliceblue;
			margin-bottom: 5vh;
			width: 15%;
    		height: 5vh;
		}

		.rank table {
			margin-left: -10%;
		}

		h3{
			color: darkred;
			font-size: 6vw;
		}

		th, td {
		    font-family: arial;
		    padding: 3vw;
    		font-size: 3vh;
		}

		td:nth-child(even){
			font-weight: bold;
		}

		tr:nth-child(2){
		    color: white;
		    background: cadetblue;
		}
		tr:nth-child(3){
		    color: white;
		    background: rgba(114, 157, 158, 0.67);
		}
		tr:nth-child(4){
		    color: white;
		    background: rgba(161, 172, 173, 0.59);
		}
		tr{
			color: rgba(0, 0, 0, 0.52);
		}

		th{
			font-family: 'Rationale', sans-serif;
			background-color: white;
			color: black;
    		text-align: left;
    	    padding: 3vw;
    		font-size: 3vh;
		}

		.special{
			background-color: white;
			color: black;
		    padding: 3vw;
		    font-size: 3vh;
		}

		.messageLogin{
	    	font-size: 4vw;
			width: 100%;
			margin-top: 5vh;
			text-align: center;
			font-family: 'Rationale', sans-serif;
			background: #505050;
	    	color: white;
	        position: fixed;
    		bottom: 0;
		}

		.messageLogin a{
			color: #00ccff;
			font-size: 14px;
		}

		.messageLink{
    		font-size: 4vw;
			color: #00ccff;
		}

	/* CREATEACC.PHP */


		.accountWrapper p{
			font-family: arial;
			margin: 1%;
		}

		.accountWrapper  form{
			margin-top: 15vh;
		}

		.accountWrapper input{
			border: 0.5px solid;
		}
		
		.accountWrapper h1{
			font-family: arial;
    		color: cadetblue;
    		font-size: 40px;
    	    margin-top: 10vh;
		}
		
		.messageAccount{
		    background: cadetblue;
		    color: aliceblue;
		    padding: 0.3%;
		    height: 15vh;
		    margin-top: 1%;
		    text-align: center;
		    position: fixed;
		    width: 100vw;
		    bottom: 0;
		}

		.messageAccount a{
			color: #304f56;
			font-size: 17px;
    		font-weight: bold;
		}

		.messageAccount h4{
			margin-top: 5vh;
		}


		.messageAccount a:hover{
			color: lightblue;
			cursor: pointer;
		}
		
		.accountWrapper button{
		    cursor: pointer;
		    margin-bottom: 1%;
		    padding: 0.5%;
		    background: #e2e2e2;
		    border: none;
		}

		.accountWrapper label{
			color: red;
		}

		.version2{
			font-size: 10px;
		    position: fixed;
		    bottom: 0;
		    color: white;
		}

}










